# **Weather Analysis**
## A brief glance at Athenry's weather data as per metweb.ie.
### 1. Import data frame.

In [9]:
# Data frames
import pandas as pd

### 2. Collecting the data.
Data is collected via metweb.ie's API and stored as JSON file in the following format YearMonthDay_HourMinuteSecond (e.g 20241116_163955, collected on Nov.16th 2024 at 16:39 55):

```bash
#! /bin/bash

 date
 echo "Downloading weather data"
 wget -O data/weather/`date +"%Y%m%d_%H%M%S.json"` https://prodapi.metweb.ie/observations/athenry/today
 echo "Weather data downloaded"
 date
```

### 3. Anayzing the data.
Using Pandas to arrange and output the data for lean usability:

In [10]:
# Read the data.
df = pd.read_json('data/weather/20241116_163955.json')

In [11]:
# Show.
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,11,46n,Light rain,"""Recent Drizzle """,9,-,W,270,99,0.2,1022,Saturday,2024-11-16,00:00
1,Athenry,11,04n,Cloudy,"""Cloudy""",9,-,W,270,98,0.0,1021,Saturday,2024-11-16,01:00
2,Athenry,11,04n,Cloudy,"""Cloudy""",7,-,W,270,97,0.0,1021,Saturday,2024-11-16,02:00
3,Athenry,11,04n,Cloudy,"""Cloudy""",9,-,W,270,99,0.0,1020,Saturday,2024-11-16,03:00
4,Athenry,11,04n,Cloudy,"""Cloudy""",7,-,W,270,99,0.0,1020,Saturday,2024-11-16,04:00

In [12]:
# Show.
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17
mean,9.705882,8.588235,227.647059,91.411765,0.060588,1021.000000,2024-11-16 00:00:00
min,8.000000,6.000000,0.000000,76.000000,0.000000,1020.000000,2024-11-16 00:00:00
25%,9.000000,7.000000,270.000000,85.000000,0.000000,1021.000000,2024-11-16 00:00:00
50%,10.000000,9.000000,270.000000,96.000000,0.000000,1021.000000,2024-11-16 00:00:00
75%,11.000000,9.000000,270.000000,98.000000,0.010000,1021.000000,2024-11-16 00:00:00
max,11.000000,17.000000,315.000000,99.000000,0.500000,1022.000000,2024-11-16 00:00:00
std,1.212678,2.785202,109.617483,9.014286,0.131789,0.707107,NaN

### End.