## Weather Analysis

In [1]:
# Data frames
import pandas as pd

### Collecting the data

```bash
#! /bin/bash

 date
 echo "Downloading weather data"
 wget -O data/weather/`date +"%Y%m%d_%H%M%S.json"` https://prodapi.metweb.ie/observations/athenry/today
 echo "Weather data downloaded"
 date
```

### Anayzing the data

In [2]:
# Read the data.
df = pd.read_json('data/weather/20241110_154249.json')

In [3]:
# Show.
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,13,04n,Cloudy,"""Cloudy""",9,-,S,180,94,0.00,1021,Sunday,2024-10-11,00:00
1,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,S,180,94,0.00,1021,Sunday,2024-10-11,01:00
2,Athenry,13,46n,Light rain,"""Recent Drizzle """,9,-,SW,225,95,0.01,1021,Sunday,2024-10-11,02:00
3,Athenry,13,46n,Light rain,"""Recent Drizzle """,11,-,SW,225,96,0.30,1021,Sunday,2024-10-11,03:00
4,Athenry,13,04n,Cloudy,"""Cloudy""",11,-,SW,225,96,0.00,1022,Sunday,2024-10-11,04:00

In [4]:
# Show.
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,16.00000,16.000000,16.000000,16.000000,16.000000,16.000000,16
mean,12.93750,8.812500,123.750000,92.875000,0.082500,1024.250000,2024-10-11 00:00:00
min,12.00000,6.000000,0.000000,76.000000,0.000000,1021.000000,2024-10-11 00:00:00
25%,13.00000,7.000000,0.000000,94.000000,0.000000,1021.750000,2024-10-11 00:00:00
50%,13.00000,9.000000,180.000000,96.000000,0.005000,1024.000000,2024-10-11 00:00:00
75%,13.00000,11.000000,225.000000,97.000000,0.125000,1027.000000,2024-10-11 00:00:00
max,14.00000,11.000000,270.000000,98.000000,0.400000,1029.000000,2024-10-11 00:00:00
std,0.57373,2.040221,114.433387,7.374506,0.126833,2.792848,NaN

### End